<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input (onInput)="buscar( $event )"  
        (onDebounce)="sugerencias($event)" placeholder="Por Capital"></app-pais-input>
    </div>
</div>

<hr>


<div class="alert alert-danger" *ngIf="error == true">
    No se encontro nada con el termino {{terminoABuscar}}
</div>

<div *ngIf="Capital.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paisTabla]="Capital" ></app-pais-tabla>
    </div>
</div>


